.container {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-tarefas {
  width: 60%;
  text-align: center;
}

h1 {
  padding: 1em 0;
  font-size: 50px;
  font-weight: 700;
}

.tarefas {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1em;
}