.container {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  padding-bottom: 3em;
}

.container-tarefas {
  width: 60%;
  text-align: center;
}

h1 {
  padding: 1em 0 .5em 0;
  font-size: 50px;
  font-weight: 700;
  color: #fff;
}

.tarefas {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1em;
}

.criar-btn {
  position: fixed;
  bottom: 20px;
  right: 30px;
  background-color: var(--green);
  color: #fff;
  padding: 10px 20px;
  font-size: 20px;
  border: none;
  border-radius: 5px;
  font-weight: 700;
}

.criar-btn:hover {
  color: var(--green);
  background-color: #fff;
  transition: .2s;
}