.container-card {
    width: 32%;
    box-shadow: 2px 2px 5px #f8f9fa;
    border-radius: 5px;
    padding: 15px;
    background-color: #495057;
}

.container-card h2 {
    font-weight: 500;
    padding: 2px 0;
}

.descricao {
    text-align: start;
    padding: 10px;
    font-weight: 400;
}

.status {
    font-size: 20px;
    padding: 10px 0;
}

.container-btns {
    padding: 5px 0;
}

.container-btns button {
    padding: 5px 20px;
    margin: 0 10px;
    border: none;
    font-size: 18px;
    border-radius: 5px;
    color: #f8f9fa;
    font-weight: 700;
}

.btn-editar {
    padding: 5px;
    background-color: #0d6efd;

}

.btn-excluir {
    background-color: #dc3545;
}

.nao_iniciado {
    color: var(--red);
}

.em_andamento {
    color: var(--yellow);
}

.concluido {
    color: var(--green);
}